<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Cadastrar Novo Serviço</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/imgs/servico.jpg" alt="logo">

  <form>
    <ion-list>
      <ion-list-header>Single Selection</ion-list-header>
      <ion-item>
        <ion-label>Título</ion-label>
        <ion-select placeholder="Select One" [(ngModel)]="anuncio.titulo" name="anuncio.titulo">
          <ion-select-option value="1">Passeio de Pets</ion-select-option>
          <ion-select-option value="2">Hospedagem de Pets</ion-select-option>
          <ion-select-option value="3">Banho de Pets</ion-select-option>
          <ion-select-option value="4">Tosa de Pets</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-textarea type="text" [(ngModel)]="anuncio.descricao" name="descricao" required
        placeholder="Descrição do Serviço"></ion-textarea>
    </ion-item>

    <ion-button (click)="cadastrarAnuncio()" expand="block">Cadastrar</ion-button>
  </form>



</ion-content>