ion-avatar  {
    margin: auto;
    margin-top: 10%;
    height: 100px;
    width: 100px;

}

.btn-op1 {
    margin-top: 10%;
}

h1 {
    text-align: center;
    font-family: arial;
    font-weight: bold;
}

ion-title {
    text-align: center;
    font-weight: bold;
    color: white;
  }