<ion-header>
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-avatar>
    <img src="../../assets/imgs/profile-default.png">
  </ion-avatar>
  <h1 class="h1-nome"> {{ nome }} </h1>

  <ion-button class="btn-op1" expand="full" (click)="logout()">OP 1</ion-button>
  <ion-button expand="full" (click)="logout()">OP 2</ion-button>
  <ion-button expand="full" (click)="logout()">OP 3</ion-button>
  <ion-button expand="full" (click)="logout()">OP 4</ion-button>
  <ion-button expand="full" (click)="logout()">Logout</ion-button>

</ion-content>