<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Localizando Serviços
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let anuncio of anuncios" (click)="viewAnuncio(anuncio)">
    <ion-item>
      <img src="../../assets/imgs/{{anuncio.titulo}}.png">
    </ion-item>
    <ion-item>
        <h2 class="h2-titulo-anuncio">{{anuncio.titulo}}</h2>
        <h2 class="h2-preco">R$ {{anuncio.preco}}</h2>
    </ion-item>
    <ion-card-content>
        <p>{{anuncio.descricao}}</p>
      </ion-card-content>
  </ion-card>
</ion-content>