<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Meus Pets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-fab-button (click)="pageServicos()" color="primary">
  <ion-icon ios="ios-add" md="md-add"></ion-icon>
</ion-fab-button>

<ion-content>

  <img src="../../assets/imgs/pet-cachorro.jpg" />

  <div *ngFor="let pet of pets">
    <ion-card>
      <ion-item (click)="viewOrUpdatePet(pet)">
        <ion-avatar slot="start">
          <img src="../../assets/imgs/logo.jpg">
        </ion-avatar>
        <h2 class="h2-titulo-anuncio">{{pet.nome}}</h2>
      </ion-item>
      <ion-card-content>
        <p>{{pet.descricao}}</p>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>