<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Cadastrar Novo Pet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img class="img-cadastrar-pet" src="../../assets/imgs/cadastrar-pet.png" alt="logo">

  <form>
    <ion-item>
      <ion-input type="text" [(ngModel)]="pet.nome" name="nome" required placeholder="Nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="pet.idade" name="idade" required placeholder="Idade aproximado"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="pet.peso" name="peso" required placeholder="Peso aproximado"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="pet.raca" name="raca" required placeholder="Raça"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="pet.pedigree" name="pedigree" required placeholder="flag"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea type="text" [(ngModel)]="pet.descricao" name="descricao" required
        placeholder="Observações sobre seu pet"></ion-textarea>
    </ion-item>

    <ion-button expand="block" (click)="registrar()">Cadastrar</ion-button>

  </form>
</ion-content>