<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>

  <img src="../../assets/imgs/petrun.jpg" alt="logo">

  <form>
    <ion-item>
      <ion-input type="text" [(ngModel)]="user.nome" name="nome" required placeholder="Nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Data de Nascimento</ion-label>
      <ion-datetime displayFormat="DD MM YYYY" [(ngModel)]="user.dataNascimento" name="dataNascimento"
        placeholder="DD MM YYYY">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="user.email" name="email" required placeholder="E-mail"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" [(ngModel)]="user.password" name="password" required placeholder="Password">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input (ionBlur)="buscarEndereco()" type="text" [(ngModel)]="user.cep" name="cep" required placeholder="Cep">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" disabled="true" [(ngModel)]="user.logradouro" name="logradouro" required
        placeholder="Logradouro">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="user.numero" name="numero" required placeholder="Nº">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="user.complemento" name="complemento" required placeholder="Complemento">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" disabled="true" [(ngModel)]="user.bairro" name="bairro" required placeholder="Bairro">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" disabled="true" [(ngModel)]="user.cidade" name="cidade" required placeholder="Cidade">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" disabled="true" [(ngModel)]="user.estado" name="estado" required placeholder="Estado">
      </ion-input>
    </ion-item>
    <ion-button expand="block" (click)="registrar()">Registrar</ion-button>
  </form>

</ion-content>